
body{	
	margin:0px;
	padding:0px;	
}

header{
	height:200px;	
	background-color:green;
	
}
main{
	height:600px;
	background-color:yellow;
	margin:0px;
	padding:0px;
	max-height:auto;
	
}
.boxModal{
	
	width:200px;
	border:5px solid #ff0000;
	margin:10px;
	padding:10px;
		
	height:200px;
}

.parentDiv{	
	border:1px solid #000000;
    width:460px;
	overflow:auto;	
	/*margin: top right bottom left */	
}
.parentDiv .child{
	width:200px;
	border:5px solid #ff0000;
	padding:10px;
	margin:10px;
	float:left;
	height:200px;
}

/*********** align footer at the bottom ****************/
html{
	position:relative;
	min-height:100%;
}
footer{
	height:80px;
	background-color:black;
	position:absolute;
	bottom:0px;
	width:100%;
}