.composition{
    position: relative;


    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(#000,0.5);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;
        &--p1{
            left: 0px;
            top: 2rem;
        }
        &--p2{
            right: 0px;
            top: 6rem;
        }
        &--p3{
            left: 20%;
            top: 10rem;
        }

        &:hover{
           transform: scale(1.05) translateY(-.5rem);
           box-shadow: 0 2.5rem 4rem rgba($color-black,0.5);
           z-index: 20;
           outline: 1.5rem solid $color-primary;
           cursor: pointer;
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(.95);
    }

}